In [ ]:
'''
Aaron Chen
aaron.chen@spc.ox.ac.uk

Returns a joined dataframe with the company SIC information with the SIC table scraped from the website.  

'''

In [1]:
import networkx as nx
import pandas as pd
import numpy as np
from tqdm import tqdm
import glob
import json
import matplotlib.pyplot as plt
import re
from random import randint
import operator

In [6]:
sic_table = pd.read_csv('category_df.csv', dtype = {'section_code': str, 'section': str, 'SIC_code': str, 
                                                    'description': str})
companies_1 = pd.read_csv('SIC_list_1.csv', dtype = str)
companies_2 = pd.read_csv('SIC_list_2.csv', dtype = str)
companies = pd.concat([companies_1, companies_2])
del companies_1, companies_2

In [9]:
companies

,company_status,CompanyName,CompanyNumber,sic,has_insolvency_history,registered_office_address,type,has_been_liquidated,date_of_creation
0,active,CONTRACT SECURITY (UK) LTD,08264847,80200,False,CM22 7TD,ltd,False,2012-10-23
1,active,"PASSER, CHEVERN & CO LTD",03939032,74909,False,HA8 8JH,ltd,False,2000-03-03
2,active,MONTREUX INVESTMENTS LTD,13138637,68209,False,LE4 6EG,ltd,no_info,2021-01-18
3,active,PSS TRADING LTD,SC639792,56103,False,G77 6UT,ltd,no_info,2019-08-27
4,active,TAW HOLDINGS (UK) LIMITED,10569104,98000,False,LE1 3RW,ltd,no_info,2017-01-17
...,...,...,...,...,...,...,...,...,...
1523106,active,ATKINSON REMOVALS LTD,12277754,49420,False,CM2 7BU,ltd,no_info,2019-10-23
1523107,active,BCM PROPERTY LTD,12900215,68209,False,PE2 6XU,ltd,no_info,2020-09-23
1523108,active,SRT CONSULTANTS LIMITED,SC334410,84250,False,ML11 0HN,ltd,False,2007-11-23
1523109,active,AIRBENCH LTD,02849780,28250,False,CO2 8HR,ltd,False,1993-09-01
1523110,active,ENJAZE LTD,11473750,43220,False,BN17 5JA,ltd,no_info,2018-07-19

In [13]:
sic_table[sic_table['section_code']=='D']

,section_code,section,SIC_code,description
315,D,"Electricity, gas, steam and air conditioning s...",35110,Production of electricity
316,D,"Electricity, gas, steam and air conditioning s...",35120,Transmission of electricity
317,D,"Electricity, gas, steam and air conditioning s...",35130,Distribution of electricity
318,D,"Electricity, gas, steam and air conditioning s...",35140,Trade of electricity
319,D,"Electricity, gas, steam and air conditioning s...",35210,Manufacture of gas
320,D,"Electricity, gas, steam and air conditioning s...",35220,Distribution of gaseous fuels through mains
321,D,"Electricity, gas, steam and air conditioning s...",35230,Trade of gas through mains
322,D,"Electricity, gas, steam and air conditioning s...",35300,Steam and air conditioning supply

In [10]:
combined = companies.join(sic_table.set_index('SIC_code'), on='sic')
combined

,company_status,CompanyName,CompanyNumber,sic,has_insolvency_history,registered_office_address,type,has_been_liquidated,date_of_creation,section_code,section,description
0,active,CONTRACT SECURITY (UK) LTD,08264847,80200,False,CM22 7TD,ltd,False,2012-10-23,N,Administrative and support service activities,Security systems service activities
1,active,"PASSER, CHEVERN & CO LTD",03939032,74909,False,HA8 8JH,ltd,False,2000-03-03,M,"Professional, scientific and technical activit...","Other professional, scientific and technical a..."
2,active,MONTREUX INVESTMENTS LTD,13138637,68209,False,LE4 6EG,ltd,no_info,2021-01-18,L,Real estate activities,Other letting and operating of own or leased r...
3,active,PSS TRADING LTD,SC639792,56103,False,G77 6UT,ltd,no_info,2019-08-27,I,Accommodation and food service activities,Take-away food shops and mobile food stands
4,active,TAW HOLDINGS (UK) LIMITED,10569104,98000,False,LE1 3RW,ltd,no_info,2017-01-17,T,Activities of households as employers; undiffe...,Residents property management
...,...,...,...,...,...,...,...,...,...,...,...,...
1523106,active,ATKINSON REMOVALS LTD,12277754,49420,False,CM2 7BU,ltd,no_info,2019-10-23,H,Transportation and storage,Removal services
1523107,active,BCM PROPERTY LTD,12900215,68209,False,PE2 6XU,ltd,no_info,2020-09-23,L,Real estate activities,Other letting and operating of own or leased r...
1523108,active,SRT CONSULTANTS LIMITED,SC334410,84250,False,ML11 0HN,ltd,False,2007-11-23,O,Public administration and defence; compulsory ...,Fire service activities
1523109,active,AIRBENCH LTD,02849780,28250,False,CO2 8HR,ltd,False,1993-09-01,C,Manufacturing,Manufacture of non-domestic cooling and ventil...
1523110,active,ENJAZE LTD,11473750,43220,False,BN17 5JA,ltd,no_info,2018-07-19,F,Construction,"Plumbing, heat and air-conditioning installation"

In [12]:
combined.section_code.value_counts()

section_code
M    492767
G    384008
L    352642
F    344321
J    313734
N    288213
S    150270
C    141990
I    135557
Q    132384
H     93781
K     93616
R     88541
U     84560
T     79987
P     67359
A     27208
E     10277
D      8035
O      5423
B      5381
Name: count, dtype: int64

In [13]:
len(combined[combined['sic'] == '99999'])

83840

In [14]:
combined[combined['has_been_liquidated'] == 'True']

,company_status,CompanyName,CompanyNumber,sic,has_insolvency_history,type,has_been_liquidated,date_of_creation,registered_office_address,section_code,section,description
39,active,TIMPSON FRANCHISES LIMITED,00789908,99999,True,ltd,True,1964-01-30,NaN,U,Activities of extraterritorial organisations a...,Dormant Company
553,active,ALLAN WATER LIMITED,SC090988,68209,True,ltd,True,1984-12-17,NaN,L,Real estate activities,Other letting and operating of own or leased r...
554,active,ALLAN WATER LIMITED,SC090988,86102,True,ltd,True,1984-12-17,NaN,Q,Human health and social work activities,Medical nursing home activities
622,active,MACBREAM INVESTMENTS LIMITED,00676890,68209,True,ltd,True,1960-12-05,NaN,L,Real estate activities,Other letting and operating of own or leased r...
962,active,HARTLEPOOL UNITED FOOTBALL CLUB LIMITED,00098191,93110,True,ltd,True,1908-06-01,NaN,R,"Arts, entertainment and recreation",Operation of sports facilities
...,...,...,...,...,...,...,...,...,...,...,...,...
1514385,active,REDUCTA (HOLDINGS) LIMITED,02519349,82990,True,ltd,True,1990-07-06,WD17 3DW,N,Administrative and support service activities,Other business support service activities n.e.c.
1516422,active,CYTOX LIMITED,05149130,72190,True,ltd,True,2004-06-09,M2 1DH,M,"Professional, scientific and technical activit...",Other research and experimental development on...
1517195,active,NUMEDIA TECHNOLOGY LIMITED,05285484,32990,True,ltd,True,2004-11-12,PO7 5HB,C,Manufacturing,Other manufacturing n.e.c.
1519322,active,ROTHLEY HALL MANAGEMENT COMPANY LIMITED,02565908,98000,True,ltd,True,1990-12-06,NE61 4JX,T,Activities of households as employers; undiffe...,Residents property management
1521618,active,KAYES ELECTRICAL (KENT) LTD.,03981006,33140,True,ltd,True,2000-04-26,ME7 1RZ,C,Manufacturing,Repair of electrical equipment

In [11]:
all_company_details = combined[['company_status', 'CompanyName', 'CompanyNumber', 'registered_office_address', 'section_code', 'sic', 'description']]
all_company_details

,company_status,CompanyName,CompanyNumber,registered_office_address,section_code,sic,description
0,active,CONTRACT SECURITY (UK) LTD,08264847,CM22 7TD,N,80200,Security systems service activities
1,active,"PASSER, CHEVERN & CO LTD",03939032,HA8 8JH,M,74909,"Other professional, scientific and technical a..."
2,active,MONTREUX INVESTMENTS LTD,13138637,LE4 6EG,L,68209,Other letting and operating of own or leased r...
3,active,PSS TRADING LTD,SC639792,G77 6UT,I,56103,Take-away food shops and mobile food stands
4,active,TAW HOLDINGS (UK) LIMITED,10569104,LE1 3RW,T,98000,Residents property management
...,...,...,...,...,...,...,...
1523106,active,ATKINSON REMOVALS LTD,12277754,CM2 7BU,H,49420,Removal services
1523107,active,BCM PROPERTY LTD,12900215,PE2 6XU,L,68209,Other letting and operating of own or leased r...
1523108,active,SRT CONSULTANTS LIMITED,SC334410,ML11 0HN,O,84250,Fire service activities
1523109,active,AIRBENCH LTD,02849780,CO2 8HR,C,28250,Manufacture of non-domestic cooling and ventil...
1523110,active,ENJAZE LTD,11473750,BN17 5JA,F,43220,"Plumbing, heat and air-conditioning installation"

In [12]:
all_company_details.to_csv('Company_SIC_from_company_status.csv', index = False)

In [17]:
CompanyNumberName = pd.read_csv('CompanyNumberName.csv')
CompanyDict = CompanyNumberName.set_index('CompanyName')['CompanyNumber'].to_dict()

In [18]:
len(CompanyDict.keys())

2299415

In [19]:
len(set(CompanyDict.keys()))

2299415

In [20]:
CompanyNumberName

        CompanyNumber                                   CompanyName
0            00029876                    WATERSIDE PLASTICS LIMITED
1            00046831  HEATH CLUB AND BOWLING GREEN COMPANY LIMITED
2            00050647               J & F J Baker & Company Limited
3            00056871               Multiple Fabric Company Limited
4            00060938      RESTON & BERWICK FARMING COMPANY LIMITED
...               ...                                           ...
2299443      10198853                                 Bohdi Limited
2299444      03463979                   MERIDIAN PROPERTIES LIMITED
2299445      NI012706                   T.J.McKenna and Son Limited
2299446      06850832    THE HIP-HOP SHAKESPEARE FOUNDATION LIMITED
2299447      00970722          M.J.M. (DENTAL LABORATORIES) LIMITED

[2299448 rows x 2 columns]